.coffee{
    padding: clamp(1.563rem, -0.083rem + 8.23vw, 5.625rem) 0;
    background-image: url(../images/coffee/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 20px;
        @media(max-width: $md2){
            flex-direction: column-reverse;
            justify-content: center;
            row-gap: 50px;
        }
    }
    &__title{
        text-align: center;
        margin-bottom: clamp(1.563rem, -0.463rem + 10.13vw, 6.563rem);
    }
}
.coffee__content{
    user-select: none;
    @media(max-width:$md2){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    &-title{
        position: relative;
        font-weight: 700;
        font-size: clamp(1.125rem, 0.771rem + 1.77vw, 2rem);
        line-height: 123.6%;
        color: $white;  
        margin-bottom: clamp(1.563rem, 1.309rem + 1.27vw, 2.188rem); 
        z-index: 2;  
        &::before{
            position: absolute;
            content: '';
            background-image: url(../images/coffee/decor.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            left: -5%;
            bottom: 0;
            width: clamp(2rem, 1.19rem + 4.05vw, 4rem);
            height: clamp(2rem, 1.19rem + 4.05vw, 4rem);
            z-index: -1;
        } 
    }
    &-adress{
        font-weight: 600;
        font-size: 16px;
        line-height: 161.6%;
        color: $white;
        margin-bottom: 15px;
        span{
            font-weight: 300;
        }
    }
    &-phone{
        font-weight: 600;
        font-size: 16px;
        line-height: 161.6%;
        color: $white;
        margin-bottom: 15px;
        a{
            font-weight: 300;      
            color: $orange;
        }      
    }
}
.content-open{
    max-width: 150px;
    margin-bottom: 15px;
    &__title{
        font-weight: 600;
        font-size: 16px;
        line-height: 161.6%;
        color: $white;
        margin-bottom: 5px;       
    }
    span{
        font-weight: 300;
        font-size: 16px;
        line-height: 161.6%;
        color: $white;
    }
}

.socials-content{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 25px;
    &__item--facebook,
    &__item--inst,
    &__item--twiiter{
        transition: all 0.3s ease-out;
        svg{
            path{
                fill: $white;
            }
        }
        @media(any-hover:hover){
            &:hover{
                svg{
                    transition: all 0.3s ease-out;
                    path{
                        fill: $orange;
                    }
                }
            }
        }
    }
}
.coffee__frame{

    iframe{
        border-radius: 5px;
        max-width: 700px;
        max-height: 500px;
        @media(max-width:730px){
            max-width: 550px;
            height: 350px;
        }
        @media(max-width:600px){
            max-width: 400px;
            height: 200px;
        }
        @media(max-width:600px){
            max-width: 280px;
            height: 180px;
        }
    }
}