.footer{
    background-color: $brown;
    &__container{
        padding: clamp(1.25rem, 0.682rem + 2.84vw, 2.813rem) 0 clamp(1.563rem, 0.994rem + 2.84vw, 3.125rem) 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 10px;
        @media(max-width: 800px){
            flex-direction: column;
        }
    }
    &__copyright{
        text-align: center;
        font-weight: 400;
        font-size: 12px;
        line-height: 161.6%;
        color: $orange;
        border-top: 1px solid $orange;
        padding: 13px 0;
    }
}
.menu-footer{
    margin-bottom: clamp(1.25rem, 0.795rem + 2.27vw, 2.5rem);
    &__logo{
        font-weight: 700;
        font-size: clamp(0.875rem, 0.784rem + 0.45vw, 1.125rem);
        line-height: 161.6%;
        color: $orange;
        display: block;
        margin-bottom: 7px;
        padding-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        transition: all 0.5s ease-out;
        svg{
            transition: all 0.5s ease-out;
            path{
                stroke: $orange;
            }
        }
    }
    &__link{
        color: $white;
        font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
        transition: color 0.5s ease-out;
        cursor: pointer;
        @media(any-hover:hover){
            &:hover{
                color: $orange;
            }
        }
    }
    &__item{
        &:not(:last-child){
            margin-bottom: 10px;
        }
    }
    &__list{
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.5s ease-out;
    }
}
.form-footer{
    &__text{
        text-align: center;
        display: block;
        margin-bottom: 15px;
        font-weight: 400;
        font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
        line-height: 161.6%;
        color: $white;
    }
}
.form-item{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &__input{
        position: relative;
        flex: 0 1 500px;
        padding: 25px 30px;
        border-radius: 50px;
        border: none;
        outline: none;
        color: $brown;
        &::placeholder{
            color: rgba($color: $brown, $alpha: 0.7);
        }
    }
    &__button{
        display: inline-block;
        font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
        position: absolute;
        color: $white;
        background-color: $green;
        padding: 20px 26px;
        border-radius: 50px;
        margin-right: 5px;
        font-weight: bold;
        transition: background-color 0.3s ease-out;
        @media(any-hover:hover){
            &:hover{
                background-color: darken($color: $green, $amount: 10%);
            }
        }
    }
}
.footer__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 0 1 205px;
    @media(max-width: 800px){
        align-items: center;
        text-align: center;
    }
    &-tel{
        font-weight: 700;
        font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
        line-height: 161.6%;
        color: $orange;
        display: block;
        margin-bottom: 10px;
        @media(any-hover:hover){
            &:hover{
                color: darken($color: $orange, $amount: 10%);
            }
        }
    }
    &-adress{
        font-weight: 400;
        font-size: 16px;
        line-height: 161.6%;
        color: $white;
    }
}
.social-list{
    margin-top: clamp(0.938rem, 0.824rem + 0.57vw, 1.25rem);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: clamp(0.938rem, 0.597rem + 1.7vw, 1.875rem);
    &__link{
        transition: all 0.3s ease-out;
        svg{
            path{
                fill: $white;
            }
        }
    }
}
.social-list__item--facebook,
.social-list__item--instagram,
.social-list__item--twitter{
    a{
        @media(any-hover:hover){
            &:hover{
                svg{
                    path{
                        fill: $orange;
                    }
                }
            }
        }
    }
}
.menu-footer__logo.active{
    color: lighten($color: $orange, $amount: 15%);
    transition: all 0.5s ease-out;
    svg{
        transform: rotate(180deg);
        path{
            stroke: lighten($color: $orange, $amount: 15%);
        }
    }
}
.menu-footer__list.active{
    max-height: 200px;
    opacity: 1;
    overflow: visible;
    visibility: visible;
    pointer-events: all;
}